@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <nav id="nav" class="navbar navbar-expand-sm bg-dark">
            <div id="Nome-Pagina" class="col-lg-6">Home</div>
            <div id="Usuario">
                <div>
                    <span>João<i class="fa fa-user-circle col-lg-6"></i></span>
                </div>
            </div>
        </nav>
    </div>

    <div class="main">



        <div class="content px-4">
            @Body
        </div>
    </div>
</div>



