@page "/"
@using Lib.Data
@using Lib.Services
@using Lib.Data.Entities



<div class="row">
    <div class="col-10">
        <input type="text" @bind="novatarefa.Nome" class="form-control" />
    </div>
    <div class="col-2">
        <button class="btn btn-primary form-control" @onclick="AdicionarTarefa">Salvar</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Ativo</th>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @{
                foreach (var tarefa in Tarefas)
                {
                    <td><input type="checkbox" @bind="tarefa.Feito"  @onclick="e=> FeitoTarefa(tarefa)" class="form-control" /></td>
                    <td>@tarefa.Nome</td>
                    <td><button class="btn btn-danger" @onclick="e => ExcluirTarefa(tarefa.Id)">X</button></td>
                }
            }
        </tr>
    </tbody>
</table>




@code{
    Tarefa novatarefa = new Tarefa();

    public void AdicionarTarefa()
    {
        Services.Tarefa().Adicionar(novatarefa);
        Tarefas = Services.Tarefa().ConsultarTodos();
    }

    List<Tarefa> Tarefas = Services.Tarefa().ConsultarTodos();

    public void ExcluirTarefa(int id)
    {
        Services.Tarefa().Excluir(id);
        Tarefas = Services.Tarefa().ConsultarTodos();
    }

    public void FeitoTarefa(Tarefa task)
    {
        Services.Tarefa().Feito(task);
        Tarefas = Services.Tarefa().ConsultarTodos();
    }

}
