@page "/"
@using Lib.Data
@using Lib.Services
@using Lib.Data.Entities




<input type="text" class="form-control"/>
<table class="table">
    <thead>
        <tr>
            <th>Tarefa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tarefa</td>
            <td><button type="button" class="btn btn-danger">Excluir</button></td>
        </tr>
    </tbody>
</table>




@code{


}