@page "/"
@page "/home"
@using Lib.Data
@using Lib.Services
@using Lib.Data.Entities


<link href="css/calendar.css" rel="stylesheet" />

<table>

    <tr>
        <th>Segunda</th>
        <th>Terça</th>
        <th>Quarta</th>
        <th>Quinta</th>
        <th>Sexta</th>
        <th>Sabado</th>
        <th>Domingo</th>
    </tr>
    <tr>
    </tr>


</table>




@code{

    int obj = 1;

    public void adicionar1()
    {
        obj += 1;
    }
}
